@font-face{
    font-family: 'AjouOTF';
    src: url('../fonts/AjouOTF.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.wrapper .header{
    background-color: #0085FF;
    width: 98.3%;
    height: 100%;
    padding: 15px;
}

.header text{
    font-size: 35px;
    color: #FFFFFF;
    font-family: 'AjouOTF';
    
    padding-left: 15px;
}

.filter_type{
    display: flex;
    margin: 3% 3% 1.5% 3%;
}

.filter_type text{
    font-size: 22px;
    color: #131313;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
}

.filter_type select{
    font-family: 'Pretendard-Regular';
    font-size: 22px;
    font-weight: bold;
    outline: 0;
    background: #FFFFFF;
    color: #0085FF;
    
    padding: 4px;
    padding-right: 100px;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: -5px;
    
    border-radius: 11px;
    border-color: #0085FF;
    border: 3px solid;

    cursor: pointer;
}

.filter_week{
    display: flex;
    margin: 0 3% 0% 3%;
}

.filter_week a{
    text-decoration-line: none;
    text-decoration: none;
    color: #0085FF;
}

.filter_week text{
    font-size: 22px;
    color: #131313;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    
    margin-right: 18.3px;
}

.filter_week input + label{
    width: 60px;
    height: 27px;
    
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    outline: 0;
    background: #FFFFFF;
    color: #0085FF;

    padding: 6px 20px 4px 20px;
    margin-left: 20px;
    margin-top: -5px;

    border-radius: 11px;
    border-color: #0085FF;
    border: 3px solid;

    cursor: pointer;
}

/*.filter_week input[type=checkbox]:checked+ label{
    background: #0085FF;
    color: #FFFFFF;
}*/

.filter_week input{
    display: none;
}

.filter_week .search label{
    border: none;
    margin: 0 -100px 0 40px;
    cursor: pointer;
}

.description text{
    color: #0085FF;
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    font-weight: bold;
    padding-left: 180px;
}

/*--------------------slide 내용-----------------------*/


/*.slideList > li > a label{
    position: absolute;
    z-index: 10;
    top: 40%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}*/

.contentWrap{
    width: 100%;
    height: 600px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.section{
    position: relative;
    width: 100%;
    height: 600px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}


.slideWrap{
    position: relative;
    margin: auto;
    flex-direction: column;
}

.slideList{
    width: 100%;
    height: 100%;
    font-size: 0;
    margin: auto;
    flex-direction: column;
}

/*.slideList > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.slideList > li > a {
    display: block;
    position: relative;
}*/

.club_content{
    margin: auto;
    align-items: center;
    text-align: center;
    margin-left: 140px;
    margin-top: 50px;
}

.club_art img{
    width:250px;
    height: 250px;
    overflow: hidden;
    margin: 30px;
}
.club_exercise img{
    width:250px;
    height: 250px;
    margin: 30px;
}
.club_volunteer img{
    width:250px;
    height: 250px;
    margin: 30px;
}

.club_art p{
    font-size: 20px;
    font-weight: normal;
    color: #131313;
    font-family: 'Pretendard Regular';
    padding: 0px;
}
.club_exercise p{
    font-size: 20px;
    font-weight: normal;
    color: #131313;
    font-family: 'Pretendard Regular';
    padding: 0px;
}
.club_volunteer p{
    font-size: 20px;
    font-weight: normal;
    color: #131313;
    font-family: 'Pretendard Regular';
    padding: 0px;
}

.club_art text {
    width:30px;
    font-size: 30px;
    font-weight: bolder;
    color: #883FFF;
    font-family: 'Pretendard Regular';
}
.club_exercise text {
    width:30px;
    font-size: 30px;
    font-weight: bolder;
    color: #0057FF;
    font-family: 'Pretendard Regular';
}
.club_volunteer text {
    width:30px;
    font-size: 30px;
    font-weight: bolder;
    color: #131313;
    font-family: 'Pretendard Regular';
}

.club_art .label{
    width: 60px;
    height: 20px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    outline: 0;
    color: #FFFFFF;
    background: #883FFF;

    padding: 6px 20px 4px 20px;
    margin: auto;
    float: left;

    border-radius: 11px;
    border-color: #883FFF;
    border: 3px solid;

    cursor: pointer;
}
.club_exercise .label{
    width: 60px;
    height: 20px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    outline: 0;
    color: #FFFFFF;
    background: #0085FF;

    padding: 6px 20px 4px 20px;
    margin: auto;
    float: left;

    border-radius: 11px;
    border-color: #0085FF;
    border: 3px solid;

    cursor: pointer;
}
.club_volunteer .label{
    width: 60px;
    height: 20px;

    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    outline: 0;
    color: #FFFFFF;
    background: #131313;

    padding: 6px 20px 4px 20px;
    margin: auto;
    float: left;

    border-radius: 11px;
    border-color: #0085FF;
    border: 3px solid;

    cursor: pointer;
}

.club_art .content{
    justify-content: start;
    padding: 0;
    margin-left: -72px;
    width: 500px;
}
.club_exercise .content{
    justify-content: start;
    padding: 0;
    margin-left: -50px;
    width: 500px;
}
.club_volunteer .content{
    justify-content: start;
    padding: 0;
    margin-left: -55px;
    width: 500px;
}

.content p{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: normal;
    color: #131313;
    margin: auto;
    margin-left: -150px;
    text-align: left;
    padding: 0;
}

.week{
    width: 500px;
    margin-left: -73px;
}
.week p{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: normal;
    color: #131313;
    margin: auto;
    margin-left: -280px;
    padding: 0;
}

.sns .label{
    margin-right: 20px;
    margin-left: 125px;
}
.sns img{
    width: 3%;
    height: auto;
    margin: auto;
    padding: 0;
    margin-left: 5px;
}

.sns p{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    color: #131313;
    margin: auto;
    margin-left: 0px;
    padding: 0;
}

.club_art{
    position: relative;
    width: 500px;
    height: 500px;
    align-content: center;
    align-items: center;
}
.club_exercise{
    position: relative;
    width: 500px;
    height: 500px;
    align-content: center;
    align-items: center;
}
.club_volunteer{
    position: relative;
    width: 500px;
    height: 500px;
    align-content: center;
    align-items: center;
}

.slideList .left {
    width: 30px;
    height: 50px;
    left: 20px;
    border: none;
    cursor: pointer;
    background: url('../img/Arrow_Left.png') center center / 30% no-repeat;
}

.slideList .right {
    width: 30px;
    height: 50px;
    right: 100px;
    border: none;
    cursor: pointer;
    background: url('../img/Arrow_Right.png') center center / 30% no-repeat;
}

#first{
    position: fixed;
    top: 200px;
    left: 0px;
    display: block;
}
#second{
    position: fixed;
    top: 200px;
    left: 0px;
    display: none;
}
#third{
    position: fixed;
    top: 200px;
    left: 0px;
    display: none;
}

/*
.section [id="slide01"]:checked ~ .slideWrap .slideList > li {
    transform: translateX(0%);
}
.section [id="slide02"]:checked ~ .slideWrap .slideList > li {
    transform: translateX(-100%);
}
.section [id="slide03"]:checked ~ .slideWrap .slideList > li {
    transform: translateX(-200%);
}*/
